header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10%;
  background-color: #2874f0;
}
@media (max-width: 1100px) {
  header {
    padding: 10px 5%;
  }
}

nav {
  order: 1;
  align-items: center;
  margin: 0;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
  border-radius: 60px;
  background-color: white;
}
.auth-btn-nav {
  font-size: 15px;
  color: #2874f0;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  border-radius: 60px;
  height: 32px;
  padding: 0px 20px;
  border: 1px solid #555555;
}

.nav__links li {
  padding: 3px 18px;
}

.nav__links li:last-child {
  padding: 0px 0px 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  color: #2874f0;
}

.nav__links li a:hover {
  color: #ffacb7;
}

.nav-img {
  width: 80px;
  height: 40px;
  /* cursor: pointer;
  order: 3;
  margin-left: auto; */
}

.cta {
  order: 2;
  margin: 7px;
  padding: 9px 25px;
  background-color: #fff;
  font-size: 20px;
  color: #2874f0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 30px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 900px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
