@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
/* Global css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Body */
body {
  background-color: #f9fcfb;
  font-family: "Josefin Sans", sans-serif;
}

.home {
  height: 81vh;
  overflow: hidden;
  position: relative;
}

.home .slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  display: none;
  padding: 0 15px;
}
.home .slide.active {
  display: flex;
}
/* @keyframes slide {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
} */
.container {
  max-width: 1170px;
  display: flex;
}

.home .container {
  flex-grow: 1;
  display: flex;
}
.home .caption {
  display: flex;
  width: 50%;
}
.home .caption h2 {
  align-self: flex-end;
  font-size: 42px;
  color: #000000;
  padding-left: 0px;
  margin: 15px 0 30px;
  color: white
}
.home .slide.active .caption h2 {
  opacity: 0;
  align-self: flex-end;
  animation: captionText 0.5s ease forwards;
  animation-delay: 0.4s;
  color: white
}
.home .caption p {
  align-self: flex-end;
  font-size: 18px;
  font-weight: 550;
  margin: 15px 0 30px;
  color: #222222;
  color: white
}
.home .slide.active .caption p {
  align-self: flex-end;
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 0.7s;
  color: white
}


@keyframes captionText {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.home .controls .prev,
.home .controls .next {
  position: absolute;
  z-index: 2;
  top: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  transition: all 0.5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover {
  transform: scale(2);
}
.home .controls .prev {
  left: 0;
}
.home .controls .next {
  right: 0;
}