@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.prodcontainer {
  font-family: "Josefin Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}
.prodimg {
  border: 2px solid red;
  margin-left: 30px;
}
.prodimg img {
  height: 500px;
  width: 100%;
}
.cover {
  object-fit: cover;
}
.proddetails {
  border: 2px solid yellow;
  margin-right: 30px;
  margin-left: 20px;
}
.prodin {
  border: 2px solid orange;
}
.prodtitle,
.proddesc,
.prodprice {
  margin-top: 20px;
  margin-bottom: 20px;
}
.prodtitle {
  font-size: 25px;
}
.proddesc {
  font-size: 20px;
}
.prodprice {
  font-size: 15px;
}
.addbtn {
  color: #fb641b;
  outline: none;
  background-color: white;
  cursor: pointer;
  border: 2px solid #fb641b;
  height: 60px;
  width: 48%;
  float: left;

  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  box-shadow: 4px 7px 10px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.4s ease-out;
}

.addbtn:hover {
  color: white;
  background-color: #fb641b;
}
.continue {
  color: #2874f0;
  outline: none;
  background-color: white;
  cursor: pointer;
  border: 2px solid #2874f0;
  height: 60px;
  width: 48%;
  font-size: 25px;
  float: right;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.4s ease-in;
  box-shadow: 4px 7px 10px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.4s ease-in-out;
}
.continue:hover {
  color: white;
  background-color: #2874f0;
}
